@font-face {
  font-family: FreightBigProLight-Italic;
  font-display: swap;
  src: url("../fonts/FreightBigPro-LightItalic.woff2") format("woff2"),
    url("../fonts/FreightBigPro-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Adieu;
  font-display: swap;
  src: url("../fonts/adieu-regular-slanted.woff2") format("woff2"),
    url("../fonts/adieu-regular-slanted.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
